<div  class="container mt-5 mx-auto px-4 py-5 rounded" style="max-width: 300px; height: 450px; border: 1px solid #ccc;">
  <h2 class="text-center mb-3">Sign Up</h2>
  <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)"  novalidate>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" name="name" placeholder="Enter your name" ngModel required>
      <div *ngIf="sellerSignUp.controls && sellerSignUp.controls['name'].invalid && (sellerSignUp.controls['name'].dirty || sellerSignUp.controls['name'].touched)" class="text-danger">

        <div *ngIf="sellerSignUp.controls['name']?.errors?.['required']">
          Name is required.
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" placeholder="Enter your email" name="email" ngModel [email]="true">
      <div *ngIf="sellerSignUp.controls['email']?.invalid && (sellerSignUp.controls['email'].dirty || sellerSignUp.controls['email'].touched)" class="text-danger">

        <div *ngIf="sellerSignUp.controls['email']?.errors?.['required']">
          Email is required.
        </div>
        <div *ngIf="sellerSignUp.controls['email']?.errors?.['email']">
          Invalid email address.
        </div>        
      </div>
    </div>
    
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" name="password" placeholder="Enter your password" ngModel required minlength="6">
      <div *ngIf="sellerSignUp.controls['password'].invalid && (sellerSignUp.controls['password'].dirty || sellerSignUp.controls['password'].touched)" class="text-danger">
        <div *ngIf="sellerSignUp.controls['password']?.errors?.['minlength']">
          Password must be at least 6 characters long.
        </div>        
      </div>
    </div>   
    <button type="submit" class="btn btn-primary btn-block mt-4" [disabled]="!sellerSignUp.valid">Sign Up</button>
    <div class="text-center mt-3">
      <a (click)="opensignIn()" style="color: blue;">Already have an account? Click here to login</a>
    </div>
  </form>
</div>




